.body {
    background: #eee;
    font-family: sans-serif;
}

.Bigtitle {
    background: #dfdf11c7;
    margin-bottom: 8px;
    font-size: 30px;
    padding: 8px;
    text-align: center;
}

.card{
     width: 400px;
    background: #dfdf11c7;
    margin-top: 8px;
    padding: 2px 4px auto;
}


.h2 {

   background: #dfdf11c7;
   color: black;
   font-weight: bold;
   border: 3px;
   padding: 3px;
   box-sizing: border-box;
}

.Des1{
    width: 130px;
}

.ingredients {
    width: 120px;
}

.content{
    text-align: center;
    background: #eee;
    color: rgb(0, 0, 0);
    padding: 8px 8px;
    border: 5px dotted lightcoral;
}

.h3 {
    color: #eee;
    background-color: rgb(145, 13, 123);
    padding: 8px 16px;
    font-size: 18px;
    text-align: left;
    border: 3px dotted yellow;
    width: 109px;
}

